@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 87%;
  text-align: left;
}

body {
  font-family: "Montserrat", sans-serif;
}

.background_random {
  padding: 0;
  margin: 0;
}

.row-design_gap {
  padding: 2rem 0px;
}
.row-design_gap h2 {
  font-size: 3.7rem;
  color: #0064ab;
  font-weight: 700;
}
.row-design_gap p {
  color: #1d1a0e;
  font-size: 1.2rem;
}
.row-design_gap .first_section {
  position: relative;
  margin: 5rem 1rem;
}
.row-design_gap .first_section .btn-design {
  background-color: #fc5a15;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: all 0.4s linear;
}
.row-design_gap .first_section .btn-design:hover {
  background-color: #0064ab;
  transform: rotate(2deg);
  transition: all 0.4s linear;
}
.row-design_gap .first_section > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.row-design_gap .second_image {
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}
.row-design_gap .second_image img {
  opacity: 0.8;
  width: 95%;
  height: 50%;
  border-radius: 1rem;
}
.row-design_gap .second_image:hover {
  transform: scale(98%);
  transition: all 0.6s ease-in;
}

.box_heading {
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #25155b;
}

.first_section {
  padding: 0rem 0rem;
}
.first_section .card_box {
  padding: 2rem;
  background-color: rgba(171, 171, 171, 0.11);
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.305);
  border-radius: 0.5em;
  transition: all 0.2s ease-in;
}
.first_section .card_box:hover {
  box-shadow: 0rem 0rem 0.2rem rgba(4, 4, 4, 0.3647058824);
  transition: all 0.2s ease-in;
}
.first_section .card_box h1 {
  color: rgba(167, 129, 234, 0.54);
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
}
.first_section .card_box h2 {
  color: #0064ab;
}

.price_head p {
  font-size: 1.2rem;
  text-align: center;
  color: #0064ab;
}
.price_head h4 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(37, 36, 41, 0.686);
}

.price_box {
  border: 1px solid rgba(128, 128, 128, 0.181);
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
}
.price_box h2 {
  color: #0064ab;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
.price_box ul {
  text-align: left;
}
.price_box ul li {
  list-style-type: none;
}
.price_box .inline_item p {
  display: inline-block;
}
.price_box .inline_item p:not(:last-child) {
  font-size: 1rem;
  margin-right: 1.1rem;
  text-decoration: line-through;
  text-transform: uppercase;
}
.price_box .inline_item p:last-child {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(4, 51, 131, 0.9803921569);
  background-color: rgba(0, 149, 255, 0.213);
  padding: 0.2rem 0.9rem;
  border-radius: 1.2rem;
  text-transform: uppercase;
}
.price_box .price_tag {
  font-size: 1.7rem;
}
.price_box .price_tag span {
  font-size: 3.4rem;
  font-weight: 700;
  color: #099f7c;
}
.price_box .main_button a {
  text-decoration: none;
  background-color: #4e84c6;
  border-radius: 1rem;
  display: block;
  padding: 0.8rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
.price_box .main_button a:hover {
  background-color: #3d77bd;
}
.price_box .btn_desc {
  margin-top: 2rem;
}
.price_box .item_center * {
  text-align: center;
}
.price_box:hover {
  box-shadow: 0rem 0.2rem 0.2rem rgba(26, 26, 26, 0.1607843137);
  transition: all 0.3s linear;
  transform: translateY(-1rem);
  border: 1px solid #099f7c;
}
.price_box .price_specs li i {
  color: #099f7c;
  margin-right: 0.7rem;
  font-weight: 800;
}

@media only screen and (min-width: 600) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 820px) {
  html {
    font-size: 62.5%;
  }
  .row-design_gap .first_section {
    position: relative;
    margin: 0rem 1rem;
  }
  .footer_paragraph p {
    font-size: 1.2rem;
  }
  #footer_heading ul p {
    font-size: 1.8rem;
  }
}
.offer_section_bg {
  background-color: rgb(250, 251, 255);
  margin-bottom: 2.3rem;
}
.offer_section_bg .main_box {
  padding: 3rem 0rem;
  text-align: center;
}
.offer_section_bg .main_box h2 {
  color: #099f7c;
  font-weight: 700;
  font-size: 2.7rem;
}
.offer_section_bg .main_box p {
  text-align: center;
}
.offer_section_bg .main_box > * {
  margin-top: 2.5rem;
}
.offer_section_bg .main_button a {
  text-decoration: none;
  background-color: #4e84c6;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
.offer_section_bg .main_button a:hover {
  background-color: #3d77bd;
}
.offer_section_bg .main_button_two a {
  text-decoration: none;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.8rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #099f7c;
}
.offer_section_bg .main_button_two a:hover {
  color: #066f56;
}

.price_end {
  padding: 3rem 0rem;
}
.price_end p {
  font-size: 1rem;
  text-align: center;
  color: black;
}
.price_end h4 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(24, 9, 85, 0.686);
}
.price_end > * {
  margin-top: 1.3rem;
}
.price_end .accordion-button:not(.collapsed) {
  background-color: #fff !important;
}
.price_end .accordion-button {
  font-size: 1.1rem;
  font-weight: 600;
}
.price_end .accordion-button:focus {
  box-shadow: none !important;
}
.price_end .collapsed {
  font-size: 1.1rem;
  font-weight: 600;
}
.price_end .accordion-body {
  font-size: 1.1rem;
}/*# sourceMappingURL=blog.css.map */