@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 87%;
    text-align: left;
}

body {
    font-family: "Montserrat", sans-serif;
}

@mixin boxshadow {
    box-shadow: 0rem 0.2rem 0.2rem #1a1a1a29;
}

$primary_color: #0064ab;

.background_random {
    //  background-color: rgba(147, 168, 157, 0.597) !important;

    // background: linear-gradient(to right top, rgba(19, 41, 153, 0.246), rgba(19, 33, 88, 0.2));
    // background-size: cover;
    // background-position: right center;
    padding: 0;
    margin: 0;
}

.row {

    &-design_gap {
        padding: 2rem 0px;

        h2 {
            font-size: 3.7rem;
            color: $primary_color;
            font-weight: 700;
        }

        p {
            color: #1d1a0e;
            font-size: 1.2rem;
        }

        .first_section {
            position: relative;
            margin: 5rem 1rem;

            .btn-design {
                background-color: #fc5a15;
                color: #fff;
                font-size: 1.2rem;
                padding: 0.6rem 2rem;
                transition: all 0.4s linear;

                &:hover {
                    background-color: #0064ab;
                    transform: rotate(2deg);
                    transition: all 0.4s linear;
                }
            }
        }

        .first_section>*:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        .second_image {
            box-sizing: border-box;
            transition: all 0.3s ease-in;

            img {
                opacity: 0.8;
                width: 95%;
                height: 50%;
                border-radius: 1rem;
                // box-shadow: 0rem 0.2rem 0.2rem #1a1a1a29;
                transition: all 0.6s ease-in;
            }

            &:hover {
                transform: scale(99%) rotate(4deg);

                transition: all 0.6s ease-in;
            }

        }


    }
}

// first section

.box_heading {
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #25155b;
}

.first_section {
    padding: 0rem 0rem;

    .card_box {
        padding: 2rem;
        background-color: rgba(171, 171, 171, 0.033);
        box-sizing: border-box;
        border: 1px solid rgba(128, 128, 128, 0.305);
        border-radius: .5em;
        transition: all 0.2s ease-in;

        &:hover {
            box-shadow: 0rem 0rem 0.2rem #0404045d;
            transition: all 0.2s ease-in;
        }

        h1 {
            color: rgb(167 129 234 / 54%);
            font-size: 4rem;
            font-family: "Poppins", sans-serif;
        }

        h2 {
            color: $primary_color;
        }
    }

}
.price_head{
    p{
        font-size: 1.2rem;
        text-align: center;
        color: $primary_color;
    }
    h4{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: rgba(37, 36, 41, 0.686);
    }
}

// description section
$des_heading_color:#5b72a0;
.desc_section_bg{
    // background-color: rgb(250, 251, 255);
    padding: 6rem 0rem;
    // background: url('https://domgys.in/images/faq-bg.jpg');
    
    .first_section_para{
         padding: 1rem 0rem 0rem 1rem;
         h3{
            color: $des_heading_color;
            font-weight: 600;
         }
         p{
            padding: 0rem 0rem 0rem 1.2rem;
            text-align: left;
         }
    }
    .row_center{
        margin: auto ;
    }
    .section_section_img{        
        
        img{
            width: 100%;
            height: auto;
            box-shadow: 0rem 0.2rem 0.2rem #1a1a1a1c;
            border-radius: 1rem;
            transition: all 0.5s linear;
           &:hover{
            transform: scale(103%);
            transition: all 0.5s linear;
           }
        }
    }
}




// price box styling

.price_box {
    // background-color: rgba(128, 128, 128, 0.181);
    border: 1px solid rgba(128, 128, 128, 0.181);
    padding: 1.5rem;
    border-radius: 0.5rem;  
    
    h2{
        color: $primary_color;
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
    }
    ul {
        text-align: left;
        li{
            list-style-type: none;
         }
        }
    
    .inline_item{
        p{
            display: inline-block;  
            &:not(:last-child) {
                font-size: 1rem;
                margin-right: 1.1rem;
                text-decoration: line-through;
                text-transform: uppercase;
            }   
            &:last-child{
                font-size: 1.2rem;
                font-weight: 600;
                color: #043383fa;
                background-color: rgba(0, 149, 255, 0.213);
                padding: 0.2rem 0.9rem;
                border-radius: 1.2rem;
                text-transform: uppercase;
            }                
        }
    }
    $btn_pric_color:#099f7c;
    $add_cart_color:#4e84c6;

    .price_tag{
        font-size: 1.7rem;
        span{
            font-size: 3.4rem;
            font-weight: 700;
            color: $btn_pric_color;
        }
    }
    .main_button{
       a{
         text-decoration: none;
         background-color: $add_cart_color;
         border-radius: 1rem;
         display: block;
         padding: 0.8rem 0rem ;
         font-size: 1.2rem;
         font-weight: 500;
         color: #fff;

         &:hover{
            background-color: darken($color: $add_cart_color, $amount: 5);
         }
       }
    }
    .btn_desc{
        margin-top: 2rem;
    }

    .item_center  *{
       text-align: center;
    }
    transition:all 0.3s linear;
    &:hover{
        @include boxshadow();
        transition:all 0.3s linear;
        transform: translateY(-1rem);
        border: 1px solid $btn_pric_color;
    }
    .price_specs{
        li{
            
            i{
                color: $btn_pric_color;
                margin-right: 0.7rem;
                font-weight: 800;               
            }
        }
    }

 }



@media only screen and (min-width: 600px) {
    html {
        font-size: 80.5%;
    }
    .price_specs {
                
        li{
            font-size: 1.1rem !important;
        }
    }


}

@media only screen and (max-width: 787px) {
    html {
        font-size: 80.5%;
    }
   

    .row-design_gap .first_section {
        position: relative;
        margin: 0rem 1rem;
    }
     .price_specs {
        position: relative;
        
        li{
            font-size: 1.2rem !important;
        }
    }

    .footer_paragraph {
        p {
            font-size: 1.2rem;
        }
    }

    #footer_heading {
        ul {
            p {
                font-size: 1.8rem;
            }
        }

    }
}
@media only screen and (max-width: 878px) {
    html {
        font-size: 80.5%;
    }
   

    .row-design_gap .first_section {
        position: relative;
        margin: 0rem 1rem;
    }
     .price_specs {
        position: relative;
        
        li{
            font-size: 1rem !important;
            i{
                margin-right: 0.5rem;
            }
        }
    }

    .footer_paragraph {
        p {
            font-size: 1rem;
        }
    }

    #footer_heading {
        ul {
            p {
                font-size: 1.8rem;
            }
        }

    }
}

$offer_bg_color : rgb(250, 251, 255);
$btn_pric_color:#099f7c;
    $add_cart_color:#4e84c6;

.offer_section_bg{
    background-color: $offer_bg_color;
    margin-bottom: 2.3rem;

    .main_box{        
        padding: 3rem 0rem;
        text-align: center;
        
        h2{
            color: $btn_pric_color;
            font-weight: 700;
            font-size: 2.7rem;
        }
        p{
            text-align: center;
        }
        & >*{
            margin-top: 2.5rem;
        }
    }

    .main_button{
       a{
         text-decoration: none;
         background-color: $add_cart_color;
         border-radius: 0.5rem;
         display: inline-block;
         padding: 0.8rem 3rem ;
         font-size: 1.2rem;
         font-weight: 500;
         color: #fff;

         &:hover{
            background-color: darken($color: $add_cart_color, $amount: 5);
         }
       }
    }
    .main_button_two{
       a{
         text-decoration: none;
        //  background-color: $add_cart_color;
         border-radius: 0.5rem;
         display: inline-block;
         padding: 0.8rem 0rem ;
         font-size: 1.2rem;
         font-weight: 600;
         color:  $btn_pric_color;

         &:hover{
            color: darken($color:  $btn_pric_color, $amount: 10);
         }
       }
    }
}
.price_end{
    padding: 3rem 0rem;
    p{
        font-size: 1rem;
        text-align: center;
        color: black;
    }
    h4{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: rgba(24, 9, 85, 0.686);
    }
    & >*{
            margin-top: 1.3rem;
        }

    .accordion-button:not(.collapsed){
        background-color: #fff !important;
    }
    .accordion-button{
        font-size: 1.1rem;
          font-weight: 600;
        &:focus{
            box-shadow: none !important;
        }
    }

    .collapsed{
         font-size: 1.1rem;
         font-weight: 600;
        
    }
    .accordion-body {
        font-size: 1.1rem;
    }
    
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 100;
  }
  #footer_heading{
    li{
        line-height:2rem;
        font-weight: 500;
    }
}